@layer base {
  table {
    @apply w-full;
  }

  thead {
    @apply  table-header-group;
  }

  tr {
    @apply max-w-full  relative border-b-4 border-gray-100
       table-row  border-b-0 dark:border-slate-800;
  }

  th {
    @apply  text-left  p-3 bg-slate-300/60;
  }

  td {
    @apply  justify-between py-3 px-4  border-gray-100
       table-cell  text-left  p-3  align-middle  border-b-0 dark:border-slate-800;
  }

  tbody, table {
    overflow: auto;
  }

  tbody tr,
  tbody tr:nth-child(odd) {
    @apply  hover:bg-slate-300/30 ;
  }


  td:before {
    content: attr(data-label);
    @apply font-semibold pr-3 text-left  hidden;
  }
}
